<h1>Welcome to Awesome Answers</h1>

<%= link_to 'New Question', new_question_path %>

<!-- <img src='/donuts.jpg' style='width: 100%'> -->

<%# this 👇 expects to have a files called `donuts.jpg` in the `public` folder %>
<%#= image_tag '/donuts.jpg', style: 'width: 100%' %>

<%# this 👇 expects to have a file called 'donuts.jpg' in /app/assets/images %>
<%= image_tag 'shaqband.gif', style: 'width: 100%' %>
